<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body cz-shortcut-listen="true"><p>Submit a file to view its filesize.</p>
<form action="http://file-size-fcc.herokuapp.com/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit">
</form>
<span style="margin: 0px auto; border: 2px dotted rgb(0, 0, 0); position: absolute; z-index: 2147483647; visibility: hidden; left: 350px; width: 0px; top: 82px; height: 0px;"></span><span style="z-index: 2147483647; position: absolute; visibility: hidden; left: 335px; width: 50px; top: 67px; height: 20px; font-size: 10px; color: black;"></span></body></html>
